@page "/fetchdata"
@inject HttpClient Http

@code {

    public class Article
    {

        public int id { get; set; }

        public string title { get; set; }

        public string content { get; set; }

        public bool active { get; set; }

        public string date { get; set; }
    }

    private Article[] articles;
    protected override async Task OnInitializedAsync()
    {
        articles = await Http.GetFromJsonAsync<Article[]>("https://joe-whiteaker-drf-blog.herokuapp.com/api/article");

    }

}

<div class="flex justify-center items-center min-h-screen">





    @if (articles == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in articles)
                {
                    <tr>
                        <td>@forecast.title</td>
                        <td>@forecast.id</td>

                    </tr>
                }
            </tbody>
        </table>
    }

</div>