@inherits LayoutComponentBase

<div class="page">
    <div class="h-min-screen w-min-full overflow-x-hidden ">
        <Navbar />
        <div
            class="h-min-screen w-min-full overflow-x-hidden bg-gradient-to-r from-yellow-300 via-green-300 to-pink-300 ">
            @Body
        </div>
    </div>
</div>
